.shortcut {
    height: 52px;
    background: #333;
    line-height: 52px;
}

.shortcut .w {
    height: 52px;
}

.shortcut .w ul {
    float: right;
}

.shortcut .w ul li a {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    color: #dcdcdc;
    border-right: 1px solid #585858;
}

.shortcut .w ul li:last-child a {
    border-right: 0;
    margin-right: 2px;
    padding-left: 0;
}

.shortcut .w ul li:last-child a {
    padding-left: 10px;
}

.iconfont {
    padding-right: 5px;
}


/* header */

.header {
    background-color: #fff;
}

.header .w {
    height: 130px;
    line-height: 130px;
    /* background: red; */
}

.header .logo {
    margin-top: 30px;
    width: 207px;
    height: 70px;
    background: url(../images/logo.png) no-repeat;
    background-size: cover;
    float: left;
}

.header .nav {
    float: left;
    color: #333;
}

.header .nav ul {
    margin-left: 16px;
    margin-right: 60px;
}

.header .nav ul li {
    padding-left: 24px;
    padding-right: 24px;
}

.header .nav ul li a {
    box-sizing: border-box;
    padding-bottom: 7px;
    color: #333;
    font-size: 16px;
}

.header .nav ul li a:hover {
    border-bottom: 1px solid #27BA9B;
    color: #27BA9B;
}

.header .search {
    float: left;
    width: 222px;
    margin-top: 54px;
    height: 31px;
    position: relative;
    vertical-align: bottom;
}

.header .search::after {
    float: left;
    content: '';
    display: block;
    background: url(../images/sprites.png) no-repeat -119px -63px;
    width: 30px;
    height: 30px;
}

.header .search input {
    font-size: 14px;
    border: none;
    background-color: #fff;
    width: 172px;
    box-shadow: 10 10 10 10;
    float: left;
    height: 30px;
    margin-right: 15px;
    box-sizing: border-box;
    padding-left: 25px;
    /* color: #CCCCCC; */
    /* color: blue; */
    /* font-size: 28px; */
    border-bottom: 1px solid #e7e7e7;
}

.header .search span {
    position: absolute;
    content: '1111';
    display: block;
    background: url(../images/sprites.png) no-repeat -79px -69px;
    width: 18px;
    height: 18px;
}

.header .search .tu {
    width: 20px;
    height: 15px;
    border-radius: 8px;
    background-color: #E26237;
    position: absolute;
    right: 0px;
    text-align: center;
    line-height: 15px;
    color: #fff;
    font-size: 13px;
}


/* banner */

.banner {
    height: 500px;
    background: url(../uploads/banner_1.png) no-repeat;
}

.banner .left-menu {
    float: left;
}

.banner .left-menu ul li {
    float: none;
}

.banner .left-menu ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    letter-spacing: 0.16px;
    padding-left: 35px;
    padding-right: 18px;
}

.banner .left-menu ul li a em {
    float: right;
}

.banner .left-menu ul li a:hover {
    background-color: #27BA9B;
}

.banner .left-menu {
    float: left;
    width: 250px;
    height: 500px;
    opacity: 0.8;
    background: #000000;
}

.banner .right {
    float: left;
}

.banner .right::before,
.banner .right::after {
    content: '<';
    float: left;
    display: block;
    font-size: 13px;
    color: #fff;
    width: 44px;
    text-align: center;
    height: 44px;
    line-height: 44px;
    border-radius: 22px;
    background: center;
    opacity: 0.2;
    background: #000000;
    font-size: 24px;
    margin-top: 218px;
    margin-left: 10px;
}

i {
    padding-left: 15px;
}

.banner .right::after {
    content: '>';
    margin-left: 881px;
}


/* goods */

.goods {
    margin-top: 48px;
    background-color: red;
}

.goods .goods-hd {
    height: 29px;
}

.goods .goods-hd h2 {
    height: 29px;
    line-height: 29px;
    font-size: 29px;
    font-weight: normal;
    float: left;
}

.goods .goods-hd h2 span {
    font-size: 16px;
    color: #999999;
}

.goods .goods-hd h2 span:first-child {
    margin-left: 34px;
}

.goods .goods-hd div {
    float: right;
    margin-bottom: 0;
    font-size: 16px;
    margin-top: 5px;
}